.enneagram-item {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 16px;
  -webkit-animation: fadeIn 1s ease-out;
  -moz-animation: fadeIn 1s ease-out;
  -o-animation: fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out;
  transition: all 0.125s ease-in 0s;

  p {
    margin-bottom: 0;
    padding: 40px;
    font-size: 28px;
  }

  .btn-group {
    display: flex;

    .btn {
      flex: 1;
      height: 60px;
      font-size: 24px;

      &:first-child {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 16px;
        border-top-right-radius: 0;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
